/*---------------------- 首页-------------------------*/
#pl_leftnav_app, /* 最近使用的应用 */
.global_footer, /* 底栏 */
.gn_title[node-type="app"], /* 导航上的 应用 按钮 */
.gn_title[node-type="weiba"], /* 导航上的 微吧 按钮 */
.gn_title[node-type="game"], /* 导航上的 游戏 按钮 */
.gn_setting[node-type="member"], /* 导航上的 会员 */
.gn_setting[node-type="account"], /* 导航上的 会员 */
#pl_content_biztips, /* 发布框下的广告 */
#trustPagelet_checkin_lotteryv5, /* 个人信息栏下的小活动 */
#trustPagelet_recom_interestv5,  /* 可能感兴趣的人 */
#pl_rightmod_ads35, /* 右侧栏广告 */
#trustPagelet_recom_memberv5, /* 会员专区 */
#trustPagelet_recom_allinonev5,  /* 微吧微刊 */
#pl_rightmod_noticeboard, /* 公告栏 */
#pl_content_setSkin, /* 右上角换肤按钮 */
#WB_webim, /* 私信聊天 */
#pl_topic_followTopic .btns, /* 话题更新按钮 */
#pl_topic_followTopic .btm_rt, /* 话题底部按钮 */
.right_bar[node-type="search_adv_rightbar"], /* Timeline 导航中的搜索 */
#pl_leftnav_group .btns, /* 分组的管理按钮 */
#pl_leftnav_group .levmore, /* 创建新分组 */
#pl_rightmod_ads35, /* 侧栏广告 */
#pl_rightmod_ads36, /* 侧栏广告 */
#pl_content_commentTopNav, /* 热门微博 */
#pl_rightmod_feedback, /* 意见反馈 */
#pl_rightmod_reportentry, /* 举报 */
ul[node-type="feed_type_tabs"], /* 微博/动态 tab */
.layer_guide, /* 用户引导 */
.function_guide, /* 用户引导 */
.W_level_ico, /* 用户等级 */
.footer_adv, /* 底部广告 */

/*---------------------- profile -------------------------*/

#pl_profile_cover, /* 最上面的大图 */
#pl_profile_nav, /* 导航 */
#pl_profile_unfollow, /* 未关注时的微关系 */
#plc_main .W_main_2r, /* 侧栏微关系 */
.btn_bed[node-type="hover"], /* 鼠标滑动出现的「加关注」等按钮 */
.lock_r[node-type="activity_nav"], /* 动态设置 */
#pl_profile_extraInfo a, /* 申请认证 */
.tags a[node-type="infoSlide"], /* 申请认证 */
.icon_bed[node-type="level"], /* 等级 */
ul[node-type="feed_adv_tabs"], /* 微博/动态 tab */
#pl_profile_hisInfo .pf_icon, /* 会员等图标 */
#pl_profile_myInfo .pf_icon, /* 会员等图标 */
#pl_profile_extraInfo /* 认证信息等 */
{
  display: none !important;
}

#pl_leftnav_group .level_2_Box[node-type="groupList"] .levmore /* 分组展开 */
{
  display: block !important;
}

/*---------------------- customize profile page -------------------------*/

.W_profile_bg {
  float: right !important;
  width: 600px !important;
  margin-top: 20px !important;
}

.WB_global_nav .gn_bg {
  background: none !important;
}

.WB_global_nav .gn_search {
  margin-left: 165px !important;
}

.W_profile {
  position: relative !important;
}

#plc_profile_header {
  position: absolute !important;
  top: 110px !important;
  left: -20px !important;
  width: 360px !important;
  z-index: 999 !important;
}

#plc_profile_header .profile_top {
  background: transparent !important;
}

#plc_profile_header .pf_head {
  position: relative !important;
  box-shadow: none !important;
  margin-top: 18px !important;
  margin-right: 18px !important;
  padding: 10px !important;
}

#plc_profile_header .pf_info {
  position: absolute !important;
  z-index: 99 !important;
  margin: 0 !important;
  padding: 0 !important;
  left: 150px !important;
  top: -100px !important;
}

#pl_profile_photo .pf_head_pic, #pl_profile_photo img {
  width: 108px !important;
  height: 108px !important;
}

#plc_profile_header .pf_info_left, #plc_profile_header .pf_info_left_border {
  width: 200px !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.profile_top .pf_tags .tags {
  text-overflow: ellipsis !important;
}

.profile_top .pf_head .user_atten {
  margin-top: 20px !important;
}

.profile_top .pf_head .user_atten li {
  border: none !important;
  text-align: left !important;
}
